.App {
  padding: 20px;
  text-align: center;
  width: 500px;
  margin: 0px auto;
}

.Item {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.item-name {
  width: 200px;
  text-align: left;
}
.item-quantity {
  width: 200px;
}
.item-quantity input {
  text-align: center;
}
.item-price {
  width: 100px;
}
.item-subtotal {
  width: 100px;
  text-align: right;
}

.header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.total {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding-top: 10px;
}